@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}
.wrapper .sign_page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 105;
  visibility: hidden;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}
.wrapper .sign_page.sign_page_show {
  background: rgba(0, 0, 0, 0.75);
  visibility: visible;
}
.wrapper .sign_page .page_box {
  text-align: center;
  width: 340px;
  background: #fff;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  z-index: 110;
  border-radius: 6px;
  padding: 15px 15px 10px 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  transition: 0.7s;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.wrapper .sign_page .page_box.si {
  top: 30px;
}
.wrapper .sign_page .page_box.si.page_box_show {
  visibility: visible;
  top: 69px;
  opacity: 1;
}
.wrapper .sign_page .page_box.su {
  top: 108px;
}
.wrapper .sign_page .page_box.su.page_box_show {
  visibility: visible;
  top: 69px;
  opacity: 1;
}
.wrapper .sign_page .page_box .top_decorate {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}
.wrapper .sign_page .page_box h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #666;
  margin: 10px auto;
}
.wrapper .sign_page .page_box .exit_icon, .wrapper .sign_page .page_box .exit_icon {
  width: 16px;
  height: 16px;
  background-image: url("../images/icon_close.png");
  position: absolute;
  right: 5%;
  top: 9%;
  opacity: 0.5;
  transition: 0.4s;
  cursor: pointer;
}
.wrapper .sign_page .page_box .exit_icon:hover, .wrapper .sign_page .page_box .exit_icon:hover {
  opacity: 1;
}
.wrapper .sign_page .page_box input {
  font-size: 16px;
  color: #757575;
  padding: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin-bottom: 15px;
}
.wrapper .sign_page .page_box button {
  height: 47px;
  background: #448899;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.4s;
}
.wrapper .sign_page .page_box button:hover {
  opacity: 1;
}
.wrapper .sign_page .page_box .caution_box {
  transition: 0.4s;
  height: 10px;
  position: relative;
}
.wrapper .sign_page .page_box .caution_box .msg {
  position: absolute;
  left: 50%;
  top: 9px;
  transform: translateX(-50%);
  color: rgb(208, 35, 35);
  transition: 0.4s;
  opacity: 0;
}
.wrapper .sign_page .page_box p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #666;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper .sign_page .page_box p .to_sign_up, .wrapper .sign_page .page_box p .to_sign_in {
  cursor: pointer;
}
.wrapper .sign_page .page_box_c {
  text-align: center;
  width: 340px;
  background: #fff;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  z-index: 110;
  border-radius: 6px;
  padding: 15px 15px 10px 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  transition: 0.7s;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.wrapper .sign_page .page_box_c.repeat {
  top: 20%;
}
.wrapper .sign_page .page_box_c.repeat h3 {
  margin-top: 10px;
  color: #666;
}
.wrapper .sign_page .page_box_c.repeat .button_box {
  margin-top: 20px;
}
.wrapper .sign_page .page_box_c.repeat .button_box button {
  width: 100px;
  margin: 10px 20px;
}
.wrapper .sign_page .page_box_c.repeat.page_box_show {
  visibility: visible;
  top: 30%;
  opacity: 1;
}
.wrapper .sign_page .page_box_c button {
  height: 47px;
  background: #448899;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.4s;
}
.wrapper .sign_page .page_box_c button:hover {
  opacity: 1;
}
.wrapper nav {
  width: 100%;
  height: 54px;
  position: relative;
  left: 0;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #fff;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wrapper nav .nav_bar {
  width: 1200px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
}
.wrapper nav .nav_bar a {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #448899;
  float: left;
  text-decoration: none;
}
.wrapper nav .nav_bar ul {
  float: right;
}
.wrapper nav .nav_bar ul li {
  margin-left: 13px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  color: #666666;
  cursor: pointer;
}
.wrapper nav .nav_bar ul li.li_out {
  display: none;
}
.wrapper .nav_box {
  height: 54px;
}/*# sourceMappingURL=base.css.map */