@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  display: grid;
  justify-content: center;
  align-items: center;
  .sign_page{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0);
    z-index: 105;
    visibility: hidden;
    transition: 0.5s;
    user-select: none;
    display: none;
    &.sign_page_show{
      background: rgba(#000, 0.75);
      visibility: visible;
    }
    .page_box{
      text-align: center;
      width: 340px;
      background: #fff;
      left: 50%;
      top: 50px;
      transform: translateX(-50%);
      z-index: 110;
      border-radius: 6px;
      padding: 15px 15px 10px 15px;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      transition: 0.7s;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      &.si{
        top: 30px;
        &.page_box_show{
          visibility: visible;
          top: 69px;
          opacity: 1;
        }
      }
      &.su{
        top: 108px;
        &.page_box_show{
          visibility: visible;
          top: 69px;
          opacity: 1;
        }
      }
      .top_decorate{
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 6px 6px 0 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(270deg, #337788 0%, #66AABB 100%);;
      }
      h2{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #666;
        margin: 10px auto;
      }
      .exit_icon{
        width: 16px;
        height: 16px;
        background-image: url('../images/icon_close.png');
        position: absolute;
        right: 5%;
        top: 25px;
        opacity: 0.5;
        transition: 0.4s;
        cursor: pointer;
        &:hover{
          opacity: 1;
        }
      }
      input{
        font-size: 16px;
        color: #757575;
        padding: 15px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        margin-bottom: 15px;
      }
      button{
        height: 47px;
        background: #448899;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 19px;
        font-weight: 400;
        font-style: normal;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.4s;
        &:hover{
          opacity: 1;
        }
      }
      .caution_box{
        transition: 0.4s;
        height: 10px;
        position: relative;
        .msg{
          position: absolute;
          left: 50%;
          top: 9px;
          transform: translateX(-50%);
          color: rgb(208, 35, 35);
          transition: 0.4s;
          opacity: 0;
        }
      }
      p{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #666;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .to_sign_up, .to_sign_in{
          cursor: pointer;
        }
      }
    }
    .page_box_c{
      text-align: center;
      width: 340px;
      background: #fff;
      left: 50%;
      top: 40%;
      transform: translateX(-50%);
      z-index: 110;
      border-radius: 6px;
      padding: 15px 15px 10px 15px;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      transition: 0.7s;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      &.repeat{
        top: 20%;
        h3{
          margin-top: 10px;
          color: #666;
        }
        .button_box{
          margin-top: 20px;
          button{
            width: 100px;
            margin: 10px 20px;
          }
        }
        &.page_box_show{
          visibility: visible;
          top: 30%;
          opacity: 1;
        }
      }
      button{
        height: 47px;
        background: #448899;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 19px;
        font-weight: 400;
        font-style: normal;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.4s;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  nav{
    width: 100%;
    height: 54px;
    position: relative;
    left: 0;
    top: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #fff;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(#000, 0.2);
    user-select: none;
    .nav_bar{
      width: 1200px;
      height: 34px;
      display: inline-block;
      vertical-align: middle;
      a{
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        color: #448899;
        float: left;
        text-decoration: none;
      }
      ul{
        float: right;
        display: none;
        li{
          margin-left: 13px;
          display: inline-block;
          font-weight: 500;
          font-size: 16px;
          line-height: 34px;
          color: #666666;
          cursor: pointer;
          &.li_out{
            display: none;
          }
          i{
            font-size: 19px;
            position: relative;
            top: 1px;
          }
        }
      }
    }
  }
  .nav_box{
    height: 54px;
  }
}

@media screen and (max-width: 600px) {
  nav{
    .nav_bar{
      a{
        font-size: 25px !important;
      }
      ul{
        li{
          margin-left: 3px !important;
        }
      }
    }
  }
}