@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.wrapper{
  display: block;
  overflow-x: hidden;
  section{
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    // align-items: flex-start;
    padding-top: 100px;
    position: relative;
    transition: 0.6s;
    &.move_left{
      transform: translateX(-170px);
    }
    .member_box{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 100px;
      margin-top: -50px;
      padding-bottom: 155px;
      .img_box{
        width: 180px;
        height: 200px;
        margin: 30px 0;
        border: 2px solid rgba(#999, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        padding: 5px;
        .img_wait{
          width: 95%;
          height: 97%;
          border-radius: 7px;
          position: absolute;
          background: #333;
          transition: 0.5s;
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          h3{
            color: #fff;
            font-weight: 400;
            font-size: 24px;
            letter-spacing: 0.05em;
          }
        }
        .img{
          width: 101%;
          height: 101%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border-radius: 7px;
          display: flex;
          justify-content: center;
          align-items: center;
          .fa-user-tie{
            font-size: 160px;
            color: #555;
          }
        }
        .upload_img{
          position: absolute;
          left: -2px;
          top: -2px;
          background: red ;
          width: 180px;
          height: 200px;
          border-radius: 10px;
          opacity: 0;
          cursor: pointer;
        }
      }
      .user_box{
        position: relative;
        .input_row{
          position: relative;
          h6{
            position: absolute;
            left: 8px;
            top: 4px;
            font-size: 16px;
            font-weight: 200;
            background: #fff;
            padding: 0 5px;
            letter-spacing: 0.05em;
            color: #444;
            &.email_label{
              background: linear-gradient( #fff 58%, #fafafa 59%);
            }
          }
          input{
            width: 250px;
            font-size: 15px;
            padding: 12px 10px 8px 10px;
            margin: 15px 0;
            border-radius: 5px;
            border: 1.2px solid rgba(#999, 0.5);
            font-weight: 300;
            letter-spacing: 0.1em;
            transition: 0.3s;
            &.email_input{
              color: rgba(#999, 0.7);
              user-select: none;
              cursor: not-allowed;
            }
          }   
          input:focus { 
            outline:none;
            border-color:#55a1e0;
            box-shadow:0 0 10px #9ecaed;
          }
        }
        .save_name{
          position: absolute;
          right: 0;
          margin-top: 10px;
          cursor: pointer;
          padding: 8px 10px;
          font-size: 18px;
          font-weight: 400;
          border-radius: 6px;
          border: none;
          background: rgb(50, 113, 49);
          color: #fff;
          opacity: 0.5;
          transition: 0.4s;
          letter-spacing: 0.1em;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
    .history_box{
      position: relative;
      top: -50px;
      transition: 1.2s;
      &.move_left{
        transform: translateX(-60px);
      }
      .history_title{
        margin-bottom: 40px;
      }
      .order{
        position: relative;
        .order_item{
          z-index: 0;
          width: 480px;
          background: rgba(#999, 0.5);
          color: rgba(#fff, 0.5);
          border-radius: 5px;
          padding: 0 15px;
          margin-bottom: 30px;
          cursor: pointer;
          transition: 0.3s;
          position: relative;
          .order_number, .time{
            line-height: 50px;
          }
          &:hover{
            background: #999;
            h3{
              color: #fff;
            }
          }
          &.active{
            background: rgb(255, 219, 99);
            // pointer-events: none;
            h3{
              color: #333;
            }
          }
        }
        h3{
          user-select: none;
          transition: 0.3s;
          color: rgba(#555, 0.5);
          font-weight: 500;
          display: inline-block;
          &.time{
            text-align: right;
            float: right;
          }
        }
        .details{
          z-index: 1;
          position: absolute;
          left: 550px;
          top: -100px;
          letter-spacing: 0.1em;
          opacity: 1;
          pointer-events: none;
          display: none;
          &.show{
            // display: block;
            pointer-events: auto;
          }
          .contact_info, .attraction_info{
            width: 320px;
            background: rgba(#000, 0.85);
            border-radius: 10px;
            padding: 3px 15px 10px 15px;
            opacity: 0;
            visibility: hidden;
            h5{
              // user-select: none;
              font-weight: 400;
              font-size: 17px;
              color: rgb(255, 244, 150);
              margin-top:10px;
              margin-bottom: 3px;
            }
            p{
              // user-select: none;
              font-size: 15px;
              color: #fff;
              opacity: 0.9;
              text-indent: -3.65em;
              padding: 0em 0em 0em 3.65em;
            }
          }
          .contact_info{
            transition: 0.4s;
            opacity: 0;
            visibility: hidden;
            &.contact_info_show{
              opacity: 1;
              visibility: visible;
            }
          }
          .attraction_info{
            background: rgba(#000, 0.6);
            transition: 0.4s;
            opacity: 0;
            visibility: hidden;
            &.attraction_info_show{
              opacity: 1;
              visibility: visible;
            }
            .arrow_down{
              margin: 10px 0 0 0;
              display: inline-block;
              opacity: 0.3;
              transition: 0.3s;
              &:hover{
                opacity: 0.8;
              }
              i{
                cursor: pointer;
                color: #fff;
                z-index: 10;
                display: block;
                margin: -8px 0;
                &.i_rotate{
                  transform: rotate(180deg);
                }
              }
            }
            .attraction_img{
              border: 1.5px solid #fff;
              border-radius: 10px;
              margin-top: 5px;
              margin-bottom: 10px;
              width: 100%;
              height: 150px;
              background-image: url("../images/Picture.png");
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              transition: height 0.5s;
              &.attraction_img_hide{
                height: 0px;
                border: 0px solid rgba(#fff, 0.8);
              }
            }
            hr{
              margin: 20px 0;
              transform: scaleX(0.9);
            }
          }
          hr{
            margin-top:15px;
            margin-bottom: 15px;
            border: 0.5px solid #888;
            transform: scaleX(0);
            &.hr_ani{
              animation: hrIn 0.8s forwards;
            }
            &.hr_ani_out{
              animation: hrOut 0.9s 0.7s both;
            }
            @keyframes hrIn {
              0% {
                transform: scaleX(0);
              }
              100% {
                transform: scaleX(1.1);
              }
            }
            @keyframes hrOut {
              0% {
                transform: scaleX(1.1);
              }
              100% {
                transform: scaleX(0);
              }
            }
          }
        }
      }
    }
  }

  footer{
    position: relative;
    bottom: 0;
    user-select: none;
    width: 100%;
    height: 104px;
    background: #757575;
    display: grid;
    justify-content: center;
    align-items: center;
    // margin-top: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    z-index: -1;
  }
}


@media screen and (max-width: 1200px) {
  nav{
    justify-content: start !important;
    width: 100% !important;
    .nav_bar{
      width: 100vw !important;
      display: inline !important;
      padding: 0 20px;
    }
  }
  section{
    flex-direction: column;
    align-items: center;
    &.move_left{
      transform: translateX(0px) !important;
    }
    .member_box{
      margin-right: 0 !important;
    }
    .history_box{
      margin-top: 40px !important;
      &.move_left{
        transform: translateX(-160px) !important;
      }
    }
    .order{
      .order_item{
        width: 250px !important;
        h3{
          font-size: 15px !important;
        }
        .time{
          display: none !important;
        }
      }
      .details{
        left: 285px !important;
        .contact_info, .attraction_info{
          width: 270px !important;
        }
      }
    }
  }
}



@media screen and (max-width: 600px) {
  .nav_box{
    height: 54px !important;
  }
  section{
    .history_box{
      margin-top: 10px !important;
      height: auto !important;
      &.move_left{
        transform: translateX(0px) !important;
      }
    }
    .order{
      .details{
        position: relative !important;
        left: -8px !important;
        top: 0 !important;
        margin-bottom: 30px;
      }
    }
  }
  footer{
    position: relative;
    top: 0px !important;
  }
}