<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous'/>
  <link rel="stylesheet" href="/css/base.css">
  {% block css %}{% endblock %}
</head>
<body>
  <div class="wrapper">
    <div class="sign_page">
      <div class="page_box si">
        <div class="top_decorate"></div>
        <h2 class="h2 si">登入會員帳號</h2>
        <div class="exit_icon si"></div>
        <input class="email si" type="email" placeholder="輸入電子信箱" value="test@test.com">
        <input class="pwd si" type="password" placeholder="輸入密碼 需含小寫英文及數字" value="test123">
        <button class="btn si" onclick="signIn();">登入帳戶</button>
        <div class="caution_box si">
          <p class="msg si"></p>
        </div>
        <p class="p si">還沒有帳戶？<span class="to_sign_up" onclick="showSignUp();">點此註冊</span></p>
      </div>
      <div class="page_box su">
        <div class="top_decorate"></div>
        <h2 class="h2 su">註冊會員帳號</h2>
        <div class="exit_icon su"></div>
        <input class="name su" type="text" placeholder="輸入姓名">
        <input class="email su" type="email" placeholder="輸入電子信箱">
        <input class="pwd su" type="password" placeholder="輸入密碼 需含小寫英文及數字">
        <button class="btn su" onclick="signUp();">註冊新帳戶</button>
        <div class="caution_box su">
          <p class="msg su"></p>
        </div>
        <p class="p su">已經有帳戶了？<span class="to_sign_in" onclick="toggleSignIn();">點此登入</span></p>
      </div>
      <div class="page_box_c repeat">
        <h3>此相同行程已排程，是否確認？</h3>
        <div class="button_box">
          <button class="check_yes repeat" onclick="pushRepeatBooking()">確認下訂</button>
          <button class="check_no repeat" onclick="bookingRepeatOut()">另選時間</button>
        </div>
      </div>
    </div>
    <nav>
      <div class="nav_bar">
        <a href="/">台北一日遊</a>
        <ul>
          <li class="member_icon li_out">
            <i class="fa-solid fa-user-gear"></i>
          </li>
          <li class="schedule li_out" onclick="toBooking()">預定行程</li>
          <li class="sign_in_up li_out" onclick="showSignIn();">登入/註冊</li>
          <li class="sign_out li_out" onclick="signOut();">登出系統</li>
        </ul>
      </div>
    </nav>
    <div class="nav_box"></div>
    <div class="wait">
      <div class="row">
        <h1>載入中</h1>
        <div class="animation"></div>
      </div>
    </div>
    {% block section %}{% endblock %}
  </div>

  {% block script %}{% endblock %}
</body>
</html>