{% extends "base.html" %}

{% block title %}預定行程{% endblock %}
{% block css %}<link rel="stylesheet" href="/css/booking.css">{% endblock %}

{% block section %}
<section>
  <div class="booking_box">
    <h3 class="user_title">您好，<span class="user_name"></span>，待預訂的行程如下：</h3>
    <!-- <div class="booking_item">
      <div class="img"></div>
      <div class="icon_delete"></div>
      <div class="content">
        <h6>台北一日遊： <span class="attraction_name">平安鐘</span></h6>
        <h5 class="date">日期：<span>2021-04-23</span></h5>
        <h5 class="time">時間：<span>早上 9 點到下午 4 點</span></h5>
        <h5 class="cost">費用：<span>新台幣 2000 元</span></h5>
        <h5 class="address">地點：<span>臺北市 大安區忠孝東路4段</span></h5>
      </div>
    </div>
    <div class="booking_item">
      <div class="img"></div>
      <div class="icon_delete"></div>
      <div class="content">
        <h6>台北一日遊： <span class="attraction_name">平安鐘</span></h6>
        <h5 class="date">日期：<span>2021-04-23</span></h5>
        <h5 class="time">時間：<span>早上 9 點到下午 4 點</span></h5>
        <h5 class="cost">費用：<span>新台幣 2000 元</span></h5>
        <h5 class="address">地點：<span>臺北市 大安區忠孝東路4段</span></h5>
      </div>
    </div> -->
    <!-- <hr> -->
  </div>
  <div class="user_info_box">
    <div class="content">
      <h3>您的聯絡資訊</h3>
      <label for="">聯絡姓名：</label>
      <input type="text" class="contact_name"><br>
      <label for="">聯絡信箱：</label>
      <input type="text" class="contact_email"><br>
      <label for="">手機號碼：</label>
      <input type="text" class="contact_mobile"><br>
      <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
    </div>
    <hr>
  </div>
  <div class="credit_card_box">
    <div class="content">
      <div class="credit_row">
        <label for="">卡片號碼：</label>
        <div class="tpfield credit_card_number" id="card-number"></div>
      </div>
      <div class="credit_row">
        <label for="">過期時間：</label>
        <div class="tpfield credit_card_time" id="card-expiration-date"></div>
      </div>
      <div class="credit_row">
        <label for="">驗證密碼：</label>
        <div class="tpfield credit_card_ccv" id="card-ccv"></div>
      </div>
      <!-- <h3>信用卡付款資訊</h3>
      <label for="">卡片號碼：</label>
      <input class="credit_pwd credit_input" type="text" maxlength="19" size="19">
      <div class="expire_time">
        <label for="">過期時間：</label>
        <input class="exp_m credit_input" type="text" maxlength="2" size="2">
        <span>&ensp;/&ensp;</span>
        <input class="exp_y credit_input" type="text" maxlength="2" size="2">
      </div>
      <label for="">驗證密碼：</label>
      <input class="credit_input" type="text" maxlength="3" size="3"> -->
    </div>
    <hr>
  </div>
  <div class="total_box">
    <div class="total">
      <h6>總價：新台幣 <span class="total_cost"></span> 元</h6>
      <button onclick="onSubmit()" class="submit_btn">確認訂購並付款</button>
    </div>
  </div>
</section>
<footer>
  <p>COPYRIGHT © 2022 台北一日遊</p>
</footer>
{% endblock %}

{% block script %}
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
<script type="module" src="/js/booking/booking.js"></script>
{% endblock %}